* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

input {
  border: none;
  outline: none;
}

label {
  font-weight: bold;
  font-size: 14px;
}
